.main-container {
  height: 80vh;
  width: 80vw;
  display: flex;
  gap: 20px;
}

/* MAIN CONTAINER LEFT*/

.main-container-left {
  width: 25%;
  color: white;
}

/* MAIN CONTAINER LEFT - TOP*/

.container-left-top {
  position: relative;
  height: 67%;
  background-color: hsl(246, 80%, 60%);
  padding: 30px 30px;
  border-radius: 10px;
  z-index: 3;
}
.container-left-top img {
  border: 1px solid white;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.container-left-top p:nth-child(1) {
  color: hsl(236, 100%, 87%);
}
.container-left-top span {
  font-size: 38px;
}

/* MAIN CONTAINER LEFT - BOTTOM*/

.container-left-botton {
  position: relative;
  top: -10px;
  height: 35%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 0 0 10px 10px;
  z-index: 1;
}

.container-left-botton ul {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 30px 30px 10px;
  background-color: inherit;
}

.container-left-botton ul li {
  background-color: inherit;
}

.container-left-botton ul li a {
  background-color: inherit;
  color: hsl(235, 45%, 61%);
  text-decoration: none;
}

.container-left-botton ul li a:hover {
  color: white;
}

@media (max-width: 1101px) {
  .main-container {
    height: 90vh;
    width: 90vw;
    flex-direction: column;
    gap: 10px;
  }

  .main-container-left {
    width: 100%;
  }

  .container-left-top {
    background-color: hsl(246, 80%, 60%);
    display: flex;
    gap: 20px;
  }

  .container-left-botton ul {
    flex-direction: row;
  }
}
